<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobby</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='lobby.css') }}">
</head>
<body>
    <a href="/main_menu" class="home-button">
        <img src="{{ url_for('static', filename='photos/home.png') }}" alt="Home" class="home-icon">
    </a>
    <div class="lobby-container">
{#        add lobby id, sent from render_template in main_menu function#}
        <h1>Lobby {{ lobby_id }}</h1>
        <p>Selected Participants:</p>
        <ul>
            {% for participant in selected_participants %}
            <li>{{ participant }}</li>
            {% endfor %}
        </ul>

        <form method="post">
            <input type="hidden" name="selected_participants" value="{{ ','.join(selected_participants) }}">
            <button type="submit" name="action" value="start" class="toggle-session-button">Start Game</button>
            <button type="submit" name="action" value="stop" class="toggle-session-button">Stop Game</button>
        </form>
    </div>
</body>
</html>
