<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Menu</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='general.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main_menu.css') }}">
</head>
<body>
    <div class="main-menu-container">
        <h1>Main Menu</h1>
        <button onclick="window.location.href='/lobbies'" class="main-menu-button">Lobbies</button>
        <button id="participants-btn" onclick="window.location.href='/participants'" class="main-menu-button">Participants</button>
        <button id="operators-btn" onclick="window.location.href='/operators'" class="main-menu-button">Operators</button>
        <button onclick="window.location.href='/session_data'" class="main-menu-button">Session Data</button>
        <button id="disconnect-btn" class="main-menu-button">Disconnect</button>

    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const username = localStorage.getItem('username');
            if (username !== 'admin') {
                document.getElementById('participants-btn').style.display = 'none';
                document.getElementById('operators-btn').style.display = 'none';
            }
        });
    </script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const username = localStorage.getItem('username');
        if (username !== 'admin') {
            document.getElementById('participants-btn').style.display = 'none';
            document.getElementById('operators-btn').style.display = 'none';
        }
        document.getElementById('disconnect-btn').addEventListener('click', function() {
            localStorage.clear();
            window.location.href = '/login';
        });
    });
</script>

</body>
</html>