<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.type.watch" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="IMS Project"
        android:theme="@android:style/Theme.DeviceDefault"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true">

        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@style/MainActivityTheme.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.WaterRipplesActivity"
            android:taskAffinity=""
            android:exported="true"
            android:theme="@style/WaterRipplesActivityTheme"
            />
        <activity
            android:name=".view.WineGlassesActivity"
            android:taskAffinity=""
            android:exported="true"
            android:theme="@style/WineGlassesActivityTheme" />
        <activity
            android:name=".view.FlourMillActivity"
            android:taskAffinity=""
            android:exported="true"
            android:theme="@style/FlourMillActivityTheme" />
        <activity
            android:name=".view.FlowerGardenActivity"
            android:taskAffinity=""
            android:exported="true"
            android:theme="@style/FlowerGardenActivityTheme" />
        <activity
        android:name=".view.WavesActivity"
        android:taskAffinity=""
        android:exported="true"
        android:theme="@style/WavesActivityTheme" />
        <activity
            android:name=".view.ParticlesActivity"
            android:taskAffinity=""
            android:exported="true"
            android:theme="@style/FlowerGardenActivityTheme" />


        <!-- TODO: remove this -->
        <activity
            android:name=".view.SwipeTestingActivity"
            android:taskAffinity=""
            android:exported="true"
            android:theme="@style/FlowerGardenActivityTheme" />
        <activity
            android:name=".view.SwipingVelocityActivity"
            android:taskAffinity=""
            android:exported="true"
            android:theme="@style/FlowerGardenActivityTheme" />
        <!-- TODO: remove this -->


    </application>

</manifest>